body {
background: #AD2A1A; /* fallback for old browsers */

}

#wrapper {

}
#name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 72px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 1%

}

#desc {

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-bottom: 1%;
  width: 50%;
  margin: auto;
  text-align: center;
  color: #FFF



}

#links {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  padding-top: 3%;
  color: #FFF;
}
footer{
  color: #FFF;
}

a {
color: #FFF;
-o-transition: color 0.25s linear;
-moz-transition: color 0.25s linear;
-khtml-transition: color 0.25s linear;
-webkit-transition: color 0.25s linear;
-ms-transition: color 0.25s linear;
transition: color 0.25s linear;
text-decoration: none;
}
a:hover {
  color: #C0C0C0;
}
